.contact-info {
  display: flex;
  flex: 1;
  flex-direction: column;

  @include mobile {
    align-items: center;
    justify-content: center;
  }
}

.contact-info__title {
  margin-bottom: 15px;
  font-style: normal;
  color: currentColor;

  @include mobile {
    margin-bottom: 5px;
    text-transform: capitalize;
  }

  @include tablet-width {
    margin-top: 3px;
    text-transform: uppercase;
  }

  @include desktop {
    margin-top: 0;
    text-transform: uppercase;
  }
}

.contact-info__item {
  font-style: normal;
  color: var(--color-white);

  @include mobile {
    padding: 0 30px;
    text-align: center;
  }

  @include tablet-width {
    padding: 0;
    text-align: left;
  }

  @include desktop {
    padding: 0;
    text-align: left;
  }
}

.contact-info--phone {
  display: inline-block;

  @include mobile {
    display: flex;
    justify-content: center;
    margin: 15px 0 25px;
    border: 1px solid var(--color-gray);
    padding: 15px 30px;
    width: 100%;
    font-weight: 700;
    transition: border 0.3s ease;

    &:hover {
      border: 1px solid var(--color-emperor);
    }

    &:active {
      border: 1px solid var(--color-mine-shaft-light);
      color: rgba(255, 255, 255, 0.3);
      background-color: var(--color-mine-shaft-light);
    }
  }
}

.contact-info--phone::before {
  content: "Тел.:";
  display: inline-block;

  @include mobile {
    display: none;
  }
}