.our-works {
  color: var(--color-black);
  background-color: var(--color-white);

  @include tablet-width {
    padding-bottom: 60px;
  }

  @include desktop {
    padding-bottom: 60px;
  }
}

.our-works__container {
  position: relative;
}

.our-works__title {
  text-transform: uppercase;
  color: var(--color-black);

  @include desktop {
    margin: 0 15px 50px 0;
    font-size: 40px;
    line-height: 0.75;
  }
}

.our-works__return-btn {
  position: absolute;
  padding: 15px 35px;

  @include mobile {
    display: none;
  }

  @include tablet-width {
    top: 15px;
  }

  @include desktop {
    right: 0;
    top: 0;
    display: block;
  }
}