.navbar {
  @include tablet-width {
    position: absolute;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    order: 1;
    background-color: var(--color-black);
  }

  @include desktop {
    position: absolute;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    order: 1;
    background-color: var(--color-black);
  }
}

.navbar--closed {
  @include mobile {
    display: none;
  }
}

.navbar--closed {
  @include mobile {
    position: relative;
    display: block;
    order: 2;
    height: 50px;
  }

  .navbar__wrapper {
    @include mobile {
      position: relative;
      align-items: flex-start;
      width: 100%;
      background-color: var(--color-roman-coffee);
    }
  }

  .navbar__toggle {
    @include mobile {
      position: absolute;
      right: 0;
      top: 0;
      z-index: 1;
      display: block;
      padding: 0;

      &:hover,
      &:focus {
        opacity: 0.8;
      }

      &:active {
        opacity: 0.5;
      }

      &::after {
        content: "";
        display: block;
        width: 60px;
        height: 50px;
        background-image: url("../img/nav-open-icon.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-color: var(--color-shingle-fawn);
      }
    }
  }

  .navbar__list {
    @include mobile {
      width: 100%;
    }
  }

  .navbar__item {
    @include mobile {
      display: none;
    }
  }

  .navbar__item--active {
    @include mobile {
      display: block;
      text-align: center;
      pointer-events: none;

      &::after {
        content: "";
        display: none;
      }
    }
  }

  .navbar__link {
    @include mobile {
      padding: 13px 32px;
    }
  }

  .login {
    @include mobile {
      display: none;
    }
  }
}

.navbar--open {
  @include mobile {
    display: block;
  }
}

.navbar--open {
  @include mobile {
    position: relative;
    display: block;
    order: 2;
  }

  .navbar__wrapper {
    @include mobile {
      position: absolute;
      right: 0;
      top: 0;
      z-index: 3;
      align-items: flex-start;
      width: 90%;
      background-color: var(--color-roman-coffee);

      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 7px;
        height: 100%;
        box-shadow: inset 4px 0 7px -2px rgba(0, 0, 0, 0.4);
      }
    }
  }

  .navbar__toggle {
    @include mobile {
      @include flex-center();
      position: absolute;
      left: 0;
      top: 0;
      z-index: 4;
      border-top: none;
      width: calc(100% - 90%);
      min-height: 50px;
      background-color: var(--color-shingle-fawn);

      &::after {
        content: "";
        position: absolute;
        z-index: 4;
        width: calc(100% - 50%);
        height: 26px;
        background-image: url("../img/nav-close-icon.svg");
        background-position: center;
        background-repeat: no-repeat;

        &:hover {
          background-color: #624530;
        }
      }

      &:hover,
      &:focus {
        opacity: 0.8;
      }

      &:active {
        opacity: 0.5;
      }
    }
  }

  .navbar__list {
    @include mobile {
      width: 100%;
    }
  }

  .navbar__item {
    @include mobile {
      width: 100%;

      &:hover {
        background-color: var(--color-tobacco-brown);
      }

      &:active {
        opacity: 0.5;
      }
    }
  }

  .navbar__item--active {
    pointer-events: none;
  }

  .navbar__link {
    @include mobile {
      border-top: 1px solid var(--color-domino);
      border-bottom: 1px solid var(--color-shingle-fawn);
      padding: 12px 32px;
      width: 100%;
    }
  }

  .login {
    @include mobile {
      width: 100%;
    }
  }

  .login__list {
    @include mobile {
      width: 100%;
    }
  }

  .login__item {
    @include mobile {
      width: 100%;

      &:focus {
        opacity: 0.8;
      }

      &:hover {
        background-color: var(--color-tobacco-brown);
      }

      &:active {
        opacity: 0.5;
      }
    }
  }

  .login__link {
    @include mobile {
      justify-content: flex-start;
      padding: 12px 32px;
      font-size: 18px;
      line-height: 24px;
      color: var(--color-white);
    }
  }

  .login__icon {
    @include mobile {
      margin-right: 13px;
      margin-left: 0;
      fill: var(--color-white);
      opacity: 0.3;
    }
  }
}

.navbar__wrapper {
  display: flex;
  align-items: center;

  @include mobile {
    flex-direction: column;
  }

  @include tablet-width {
    flex-direction: row;
    justify-content: space-between;
    width: 640px;
  }

  @include desktop {
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0;
    width: 960px;
    height: 72px;
  }
}

.navbar__list {
  @include tablet-width {
    display: flex;
    flex-wrap: wrap;
  }

  @include desktop {
    width: 780px;
  }
}

.navbar__item {
  position: relative;
  color: var(--color-white);
  transition: all 0.3s;
}

@include tablet-width {
  .navbar__item:not(:last-child) {
    margin-right: 35px;
  }

  .navbar__item:not(.navbar__item--active) {
    &:hover,
    &:focus {
      color: var(--color-roman-coffee);
    }

    &:active {
      color: var(--color-silver);
    }
  }
}

@include desktop {
  .navbar__item:not(:last-child) {
    margin-right: 2px;
  }

  .navbar__item:not(.navbar__item--active) {
    cursor: pointer;

    &:hover,
    &:focus {
      color: var(--color-black);
      background-color: var(--color-white);
    }

    &:active {
      color: var(--color-silver);
    }
  }
}

.navbar__item--active {
  pointer-events: none;

  &::after {
    content: "";
    position: absolute;
    left: 30px;
    right: 30px;
    display: block;
    height: 3px;
    background-color: var(--color-roman-coffee);

    @include tablet-width {
      left: 0;
      right: 0;
    }
  }
}

.navbar__link {
  display: block;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  color: currentColor;

  @include tablet-width {
    padding: 25px 0 23px;
  }

  @include desktop {
    padding: 25px 31px 23px;
  }
}

.navbar__toggle {
  @include min-mobile {
    display: none;
  }
}