.slick__custom-dots {
  @include flex-center();

  @include mobile {
    position: relative;
    left: 8px;
    bottom: 5px;
  }

  @include tablet-width {
    position: relative;
    left: 8px;
    top: -15px;
    margin: auto;
    width: 20%;
    background-color: var(--color-white);
  }

  @include desktop {
    position: relative;
    left: 10px;
    top: 25px;
    margin: 0;
    width: auto;
    background-color: unset;
  }

  li {
    width: 20px;
    height: 20px;
    cursor: pointer;
  }

  li:not(:last-child) {
    margin-right: 15px;
  }

  button {
    display: inline-block;
    outline: none;
    border: 1px solid var(--color-dark-gray);
    padding: 0;
    width: 7px;
    height: 7px;
    background-color: transparent;
    transform: rotate(45deg);
    transition: background-color 0.2s linear;
    cursor: pointer;
  }

  button::first-line {
    font-size: 0;
  }
}

.slick-active {
  button {
    background-color: var(--color-dark-gray);
  }
}
