.stats {
  @include mobile {
    margin-top: 0;
  }

  @include tablet-width {
    margin-top: -24em;
  }

  @include desktop {
    margin-top: 0;
  }
}

.stats__container {
  @include mobile {
    display: flex;
    flex-direction: column;
  }

  @include tablet-width {
    display: grid;
    grid-template-columns: minmax(640px, auto);
    grid-template-rows: minmax(179px, auto);
    transform: none;
  }

  @include desktop {
    display: grid;
    grid-template-columns: minmax(320px, auto) minmax(640px, auto);
    grid-template-rows: minmax(318px, auto);
    padding: 0;
    transform: translateY(-9em);
  }
}

.stats__header {
  position: relative;
  color: var(--color-black);
  background-color: var(--color-white);

  @include mobile {
    @include flex-center();
    flex-direction: column;
    padding: 27px 37px;
    max-height: 183px;
  }

  @include tablet-width {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 5px 35px;
    max-height: unset;
  }

  @include desktop {
    padding: 27px 37px;
    max-height: unset;
  }
}

.stats__header::before {
  content: "";
  position: absolute;
  border: 20px solid transparent;
  border-top-color: var(--color-white);

  @include mobile {
    display: none;
    border: none;
  }

  @include tablet-width {
    left: -3%;
    top: 22%;
    display: block;
  }

  @include desktop {
    left: -6%;
    top: 13%;
    display: block;
  }
}

.stats__title {
  font-weight: 700;

  @include mobile {
    margin: 0 0 20px;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
  }

  @include tablet-width {
    margin-top: 21px;
    margin-left: 6px;
    width: 240px;
    font-size: 40px;
    line-height: 40px;
    text-transform: none;
  }

  @include desktop {
    margin: 5px 0 42px;
    width: auto;
    font-size: 40px;
    line-height: 40px;
    text-transform: none;
  }
}

.stats__promo {
  font-size: 20px;
  line-height: 27px;

  @include mobile {
    margin: 0;
    text-align: center;
  }

  @include tablet-width {
    margin-right: 40px;
    padding-top: 10px;
    width: 210px;
    text-align: left;
  }

  @include desktop {
    margin: 0;
    padding: 5px 35px 24px 5px;
    width: auto;
    text-align: left;
  }
}

.stats__promo--gray-top {
  font-size: 20px;
  color: var(--color-silver);

  @include mobile {
    display: none;
  }

  @include tablet-width {
    display: block;
    width: 240px;
    transform: translate(14px, -19px);
  }

  @include desktop {
    display: block;
    margin: 0;
    padding: 0;
    transform: none;
  }
}

.stats__promo--gray-bottom {
  @include mobile {
    display: inline-block;
    padding: 16px 20px;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    color: rgba(255, 255, 255, 0.3);
  }

  @include tablet-width {
    display: none;
  }

  @include desktop {
    display: none;
  }
}

.stats__list {
  @include mobile {
    @include flex-column();
  }

  @include tablet-width {
    display: grid;
    grid-template-columns: repeat(2, 320px);
    grid-template-rows: minmax(80px, 159px) minmax(80px, 159px);
  }

  @include desktop {
    display: grid;
    grid-template-columns: repeat(2, 320px);
    grid-template-rows: minmax(80px, 159px) minmax(80px, 159px);
  }
}

.stats__item {
  @include mobile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px 20px;
  }

  @include tablet-width {
    display: block;
    padding: 25px 35px 28px;
  }

  @include desktop {
    display: block;
    padding: 25px 35px 28px;
  }
}

.stats__figure {
  position: relative;
  font-weight: 700;

  @include mobile {
    flex: 2;
    margin: 0;
    font-size: 40px;
    line-height: 40px;
  }

  @include tablet-width {
    margin: 0 0 7px;
    font-size: 72px;
    line-height: 72px;
  }

  @include desktop {
    margin: 0 0 7px;
    font-size: 72px;
    line-height: 72px;
  }
}

.stats__figure--star {
  position: relative;

  @include mobile {
    font-size: 75%;
  }

  @include tablet-width {
    left: 12px;
    top: -26px;
    font-size: 60%;
  }

  @include desktop {
    left: 12px;
    top: -26px;
    font-size: 60%;
  }
}

.stats__info {
  margin: 0;
  text-transform: lowercase;

  @include mobile {
    columns: 6em auto;
    flex: 1;
    font-size: 18px;
    line-height: 18px;
    text-align: right;
  }

  @include tablet-width {
    columns: unset;
    font-size: 20px;
    line-height: 27px;
    text-align: unset;
  }

  @include desktop {
    font-size: 20px;
    line-height: 27px;
    text-align: unset;
  }
}

@each $color in tundora, gray-deep, dark-gray, tundora {
  .stats__item--#{$color} {
    background-color: var(--color-#{$color});
  }
}