@charset "UTF-8";
:root {
  --color-white: #fff;
  --color-pampas: #f7f4f1;
  --color-spring-wood: #f8f5f2;
  --color-pearl-bush: #e5ddd5;
  --color-sisal: #d5c9bd;
  --color-domino: #886e5b;
  --color-roman-coffee: #826550;
  --color-tobacco-brown: #755a46;
  --color-shingle-fawn: #6a4d38;
  --color-silver: #cacaca;
  --color-scorpion: #5e5e5e;
  --color-emperor: #545454;
  --color-gray-deep: #4e4e4e;
  --color-tundora: #404040;
  --color-gray: #3f3f3f;
  --color-dark-gray: #353535;
  --color-mine-shaft: #292929;
  --color-mine-shaft-light: #252525;
  --color-black: #000; }

@font-face {
  font-family: "PT Sans Narrow";
  src: url("../fonts/pt-sans-narrow.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal; }

@font-face {
  font-family: "PT Sans Narrow";
  src: url("../fonts/pt-sans-narrow-bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: bold; }

html {
  box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: inherit; }

body {
  margin: 0;
  min-width: 320px;
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: var(--color-pampas);
  background-color: var(--color-mine-shaft);
  scroll-behavior: smooth; }

img {
  max-width: 100%; }

a {
  text-decoration: none; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

fieldset {
  margin: 0;
  border: none;
  padding: 0; }

.is-outer {
  position: relative !important;
  left: -9999px !important; }

.site-container {
  position: relative;
  overflow: hidden; }

.is-hidden {
  display: none !important; }

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  white-space: nowrap;
  clip: rect(0, 0, 0, 0); }

.for-mobile {
  display: none; }
  @media (max-width: 767px) {
    .for-mobile {
      display: block; } }

.error {
  border: 2px #ff4019 solid !important; }

.btn-reset {
  border: none;
  background: transparent;
  cursor: pointer; }

.section__title {
  text-transform: uppercase; }
  @media (max-width: 767px) {
    .section__title {
      font-size: 30px;
      line-height: 30px;
      text-align: center; } }
  @media (min-width: 768px) {
    .section__title {
      font-size: 40px;
      text-align: unset; } }
  @media (min-width: 1200px) {
    .section__title {
      font-size: 40px;
      text-align: unset; } }

.section__btn {
  display: inline-block;
  border: 1px solid var(--color-pearl-bush);
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-black); }
  .section__btn:hover, .section__btn:focus {
    border: 1px solid var(--color-sisal); }
  .section__btn:active {
    color: rgba(0, 0, 0, 0.4);
    background: var(--color-sisal); }

@media (max-width: 767px) {
  .container {
    margin: 0 auto;
    padding: 0;
    min-width: 320px;
    max-width: 766px; } }

@media (min-width: 768px) {
  .container {
    margin: 0 auto;
    padding: 0;
    max-width: 640px; } }

@media (min-width: 1200px) {
  .container {
    margin: 0 auto;
    padding: 0;
    max-width: 960px; } }

.js-focus-visible :focus:not(.focus-visible) {
  outline: none; }

.header {
  display: flex;
  flex-direction: column; }
  @media (max-width: 767px) {
    .header {
      min-height: 135px;
      background-color: var(--color-mine-shaft); } }
  @media (min-width: 768px) and (device-pixel-ratio: 1.5), (min-width: 768px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 768px) and (min-resolution: 144dpi), (min-width: 768px) and (min-resolution: 1.5dppx) {
    .header {
      background-image: url("../img/bg-desktop-inner.jpg");
      background-size: 1338px auto; } }
  @media (min-width: 768px) {
    .header {
      min-height: 286px;
      background-image: url("../img/bg-desktop-inner.jpg");
      background-position: center 100%;
      background-size: cover;
      background-repeat: no-repeat;
      background-color: var(--color-black); } }
  @media (min-width: 1200px) {
    .header {
      min-height: 380px;
      background-image: url("../img/bg-desktop-inner.jpg");
      background-position: center 0%;
      background-size: cover;
      background-repeat: no-repeat;
      background-color: var(--color-black); } }

.header__container {
  order: 2; }
  @media (min-width: 768px) {
    .header__container {
      padding-top: 85px; } }
  @media (min-width: 1200px) {
    .header__container {
      padding-top: 129px; } }

.logo {
  display: flex;
  align-items: center;
  justify-content: center; }
  @media (max-width: 767px) {
    .logo {
      height: 85px; } }
  @media (min-width: 768px) {
    .logo {
      min-height: 153px; } }

.logo-image {
  display: block; }
  @media (min-width: 768px) {
    .logo-image {
      width: 370px;
      height: 153px; } }

@media (min-width: 768px) {
  .navbar {
    position: absolute;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    order: 1;
    background-color: var(--color-black); } }

@media (min-width: 1200px) {
  .navbar {
    position: absolute;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    order: 1;
    background-color: var(--color-black); } }

@media (max-width: 767px) {
  .navbar--closed {
    display: none; } }

@media (max-width: 767px) {
  .navbar--closed {
    position: relative;
    display: block;
    order: 2;
    height: 50px; } }

@media (max-width: 767px) {
  .navbar--closed .navbar__wrapper {
    position: relative;
    align-items: flex-start;
    width: 100%;
    background-color: var(--color-roman-coffee); } }

@media (max-width: 767px) {
  .navbar--closed .navbar__toggle {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
    display: block;
    padding: 0; }
    .navbar--closed .navbar__toggle:hover, .navbar--closed .navbar__toggle:focus {
      opacity: 0.8; }
    .navbar--closed .navbar__toggle:active {
      opacity: 0.5; }
    .navbar--closed .navbar__toggle::after {
      content: "";
      display: block;
      width: 60px;
      height: 50px;
      background-image: url("../img/nav-open-icon.svg");
      background-position: center;
      background-repeat: no-repeat;
      background-color: var(--color-shingle-fawn); } }

@media (max-width: 767px) {
  .navbar--closed .navbar__list {
    width: 100%; } }

@media (max-width: 767px) {
  .navbar--closed .navbar__item {
    display: none; } }

@media (max-width: 767px) {
  .navbar--closed .navbar__item--active {
    display: block;
    text-align: center;
    pointer-events: none; }
    .navbar--closed .navbar__item--active::after {
      content: "";
      display: none; } }

@media (max-width: 767px) {
  .navbar--closed .navbar__link {
    padding: 13px 32px; } }

@media (max-width: 767px) {
  .navbar--closed .login {
    display: none; } }

@media (max-width: 767px) {
  .navbar--open {
    display: block; } }

@media (max-width: 767px) {
  .navbar--open {
    position: relative;
    display: block;
    order: 2; } }

@media (max-width: 767px) {
  .navbar--open .navbar__wrapper {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 3;
    align-items: flex-start;
    width: 90%;
    background-color: var(--color-roman-coffee); }
    .navbar--open .navbar__wrapper::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 7px;
      height: 100%;
      box-shadow: inset 4px 0 7px -2px rgba(0, 0, 0, 0.4); } }

@media (max-width: 767px) {
  .navbar--open .navbar__toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 4;
    border-top: none;
    width: calc(100% - 90%);
    min-height: 50px;
    background-color: var(--color-shingle-fawn); }
    .navbar--open .navbar__toggle::after {
      content: "";
      position: absolute;
      z-index: 4;
      width: calc(100% - 50%);
      height: 26px;
      background-image: url("../img/nav-close-icon.svg");
      background-position: center;
      background-repeat: no-repeat; }
      .navbar--open .navbar__toggle::after:hover {
        background-color: #624530; }
    .navbar--open .navbar__toggle:hover, .navbar--open .navbar__toggle:focus {
      opacity: 0.8; }
    .navbar--open .navbar__toggle:active {
      opacity: 0.5; } }

@media (max-width: 767px) {
  .navbar--open .navbar__list {
    width: 100%; } }

@media (max-width: 767px) {
  .navbar--open .navbar__item {
    width: 100%; }
    .navbar--open .navbar__item:hover {
      background-color: var(--color-tobacco-brown); }
    .navbar--open .navbar__item:active {
      opacity: 0.5; } }

.navbar--open .navbar__item--active {
  pointer-events: none; }

@media (max-width: 767px) {
  .navbar--open .navbar__link {
    border-top: 1px solid var(--color-domino);
    border-bottom: 1px solid var(--color-shingle-fawn);
    padding: 12px 32px;
    width: 100%; } }

@media (max-width: 767px) {
  .navbar--open .login {
    width: 100%; } }

@media (max-width: 767px) {
  .navbar--open .login__list {
    width: 100%; } }

@media (max-width: 767px) {
  .navbar--open .login__item {
    width: 100%; }
    .navbar--open .login__item:focus {
      opacity: 0.8; }
    .navbar--open .login__item:hover {
      background-color: var(--color-tobacco-brown); }
    .navbar--open .login__item:active {
      opacity: 0.5; } }

@media (max-width: 767px) {
  .navbar--open .login__link {
    justify-content: flex-start;
    padding: 12px 32px;
    font-size: 18px;
    line-height: 24px;
    color: var(--color-white); } }

@media (max-width: 767px) {
  .navbar--open .login__icon {
    margin-right: 13px;
    margin-left: 0;
    fill: var(--color-white);
    opacity: 0.3; } }

.navbar__wrapper {
  display: flex;
  align-items: center; }
  @media (max-width: 767px) {
    .navbar__wrapper {
      flex-direction: column; } }
  @media (min-width: 768px) {
    .navbar__wrapper {
      flex-direction: row;
      justify-content: space-between;
      width: 640px; } }
  @media (min-width: 1200px) {
    .navbar__wrapper {
      flex-direction: row;
      justify-content: space-between;
      margin: 0 auto;
      padding: 0;
      width: 960px;
      height: 72px; } }

@media (min-width: 768px) {
  .navbar__list {
    display: flex;
    flex-wrap: wrap; } }

@media (min-width: 1200px) {
  .navbar__list {
    width: 780px; } }

.navbar__item {
  position: relative;
  color: var(--color-white);
  transition: all 0.3s; }

@media (min-width: 768px) {
  .navbar__item:not(:last-child) {
    margin-right: 35px; }
  .navbar__item:not(.navbar__item--active):hover, .navbar__item:not(.navbar__item--active):focus {
    color: var(--color-roman-coffee); }
  .navbar__item:not(.navbar__item--active):active {
    color: var(--color-silver); } }

@media (min-width: 1200px) {
  .navbar__item:not(:last-child) {
    margin-right: 2px; }
  .navbar__item:not(.navbar__item--active) {
    cursor: pointer; }
    .navbar__item:not(.navbar__item--active):hover, .navbar__item:not(.navbar__item--active):focus {
      color: var(--color-black);
      background-color: var(--color-white); }
    .navbar__item:not(.navbar__item--active):active {
      color: var(--color-silver); } }

.navbar__item--active {
  pointer-events: none; }
  .navbar__item--active::after {
    content: "";
    position: absolute;
    left: 30px;
    right: 30px;
    display: block;
    height: 3px;
    background-color: var(--color-roman-coffee); }
    @media (min-width: 768px) {
      .navbar__item--active::after {
        left: 0;
        right: 0; } }

.navbar__link {
  display: block;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  color: currentColor; }
  @media (min-width: 768px) {
    .navbar__link {
      padding: 25px 0 23px; } }
  @media (min-width: 1200px) {
    .navbar__link {
      padding: 25px 31px 23px; } }

@media (min-width: 768px) {
  .navbar__toggle {
    display: none; } }

@media (min-width: 768px) {
  .login {
    margin-right: 32px; } }

@media (min-width: 1200px) {
  .login {
    margin-right: 0;
    margin-left: 20px;
    width: auto;
    min-width: 160px; } }

.login__link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 0.3s;
  cursor: pointer; }
  .login__link::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0; }

@media (min-width: 768px) {
  .login__link span {
    display: none; } }

@media (min-width: 1200px) {
  .login__link span {
    display: inline-block; } }

.login__icon {
  margin-left: 7px;
  fill: var(--color-gray-deep);
  transition: all 0.3s; }

@media (min-width: 1200px) {
  .login__link {
    padding: 25px 30px 23px 50px;
    width: auto;
    height: auto;
    min-height: auto;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    color: var(--color-white); }
  .login__link:hover,
  .login__link:focus {
    color: var(--color-black);
    background-color: var(--color-white); }
  .login__link:active,
  .login__icon {
    color: var(--color-silver);
    fill: var(--color-silver); } }

@media (min-width: 768px) {
  .login__icon:hover {
    fill: var(--color-roman-coffee); } }

.person-data {
  position: relative;
  padding-top: 40px;
  padding-bottom: 45px;
  color: var(--color-black);
  background-color: var(--color-spring-wood); }
  .person-data::before {
    content: "";
    position: absolute;
    left: 0;
    top: -45px;
    z-index: 1;
    width: 100%;
    height: 45px;
    background-image: url("../img/spring-wood-corner.svg");
    background-size: 100% 45px;
    background-repeat: no-repeat;
    background-color: transparent; }
    @media (max-width: 767px) {
      .person-data::before {
        display: none; } }
  @media (max-width: 767px) {
    .person-data {
      padding-top: 0; } }

.person-data__container {
  position: relative; }
  @media (max-width: 767px) {
    .person-data__container {
      padding: 29px 20px 40px; } }
  @media (min-width: 768px) {
    .person-data__container {
      padding-bottom: 90px; } }

@media (max-width: 767px) {
  .person-data__title {
    margin: 0 0 29px; } }

@media (min-width: 768px) {
  .person-data__title {
    margin-top: 0;
    margin-bottom: 60px;
    padding-top: 10px; } }

.person-data__return-btn {
  position: absolute;
  padding: 15px 35px; }
  @media (max-width: 767px) {
    .person-data__return-btn {
      display: none; } }
  @media (min-width: 768px) {
    .person-data__return-btn {
      right: 0;
      top: 10px;
      display: block; } }

.person-data__form {
  color: var(--color-black); }

.person-data__apply {
  display: block;
  padding: 15px;
  width: 100%;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--color-white);
  background-color: var(--color-roman-coffee); }
  .person-data__apply:hover, .person-data__apply:focus {
    border: 1px solid var(--color-sisal); }
  .person-data__apply:active {
    color: rgba(0, 0, 0, 0.4);
    background: var(--color-sisal); }
  @media (min-width: 768px) {
    .person-data__apply {
      padding: 20px;
      font-size: 24px;
      line-height: 30px; } }

@media (min-width: 768px) {
  .form__field--services,
  .form__field--haircut {
    border-top: 1px solid var(--color-pearl-bush); } }

.form__legend {
  line-height: 1;
  text-transform: uppercase; }
  @media (min-width: 768px) {
    .form__legend {
      margin: auto;
      padding-right: 30px;
      padding-left: 25px;
      font-size: 30px; } }

.form__field--full-name {
  display: flex; }
  @media (max-width: 767px) {
    .form__field--full-name {
      flex-direction: column;
      margin-bottom: 30px; } }
  @media (min-width: 768px) {
    .form__field--full-name {
      flex-direction: column;
      margin-bottom: 40px; } }

@media (min-width: 768px) {
  .form__row--name .form__input--name {
    width: 100%; } }

@media (min-width: 1200px) {
  .form__row--name .form__input--name {
    margin-right: 35px;
    width: 295px; } }

@media (max-width: 767px) {
  .form__row--name {
    flex-direction: column;
    margin-bottom: 32px; } }

@media (max-width: 767px) {
  .form__row--contact {
    flex-direction: column; } }

@media (min-width: 768px) {
  .form__row--contact {
    flex-direction: column;
    width: 100%; } }

@media (min-width: 1200px) {
  .form__row--contact {
    flex-direction: row; } }

.form__row--message .form__input--message {
  min-height: 210px;
  resize: none; }
  @media (max-width: 767px) {
    .form__row--message .form__input--message {
      padding: 8px 18px 10px;
      width: 100%;
      min-height: 112px;
      font-size: 18px;
      line-height: 1.6; } }

@media (min-width: 768px) {
  .form__row--message {
    width: 640px; } }

@media (min-width: 1200px) {
  .form__row--message {
    width: 960px; } }

.full-name__row {
  display: flex; }

@media (min-width: 768px) {
  .full-name__label--tel {
    width: 100%; } }

@media (min-width: 1200px) {
  .full-name__label--tel {
    margin-right: 40px;
    width: 460px; } }

@media (min-width: 768px) {
  .full-name__label--email {
    width: 100%; } }

@media (min-width: 1200px) {
  .full-name__label--email {
    width: 460px; } }

.full-name__input {
  display: block;
  outline: none;
  border: 1px solid var(--color-pearl-bush);
  width: 100%;
  font-size: 24px;
  line-height: 1.25;
  background-color: var(--color-white); }
  .full-name__input::-moz-placeholder {
    color: var(--color-black); }
  .full-name__input:-ms-input-placeholder {
    color: var(--color-black); }
  .full-name__input::placeholder {
    color: var(--color-black); }
  @media (max-width: 767px) {
    .full-name__input {
      margin-bottom: 7px;
      padding: 15px;
      font-size: 18px; } }
  @media (min-width: 768px) {
    .full-name__input {
      margin-bottom: 35px;
      padding: 20px 15px 18px 25px; } }

@media (max-width: 767px) {
  .haircut__field {
    margin-bottom: 36px; } }

@media (min-width: 768px) {
  .haircut__field {
    margin-bottom: 55px; } }

@media (max-width: 767px) {
  .haircut__title {
    margin-bottom: 30px;
    font-size: 20px;
    line-height: 1.35;
    text-align: center; } }

@media (min-width: 768px) {
  .haircut__title {
    margin-bottom: 30px; } }

.haircut__radio-list {
  display: flex; }
  @media (max-width: 767px) {
    .haircut__radio-list {
      flex-wrap: wrap; } }
  @media (min-width: 768px) {
    .haircut__radio-list {
      justify-content: space-between;
      margin: 10px 35px 0; } }

.haircut__model-item {
  display: flex; }
  @media (max-width: 767px) {
    .haircut__model-item {
      flex-direction: column;
      align-items: center;
      margin: 10px;
      width: 73px;
      text-align: center; } }
  @media (min-width: 768px) {
    .haircut__model-item {
      flex-direction: column;
      align-items: center;
      margin: 10px;
      width: 73px;
      text-align: center; } }

.model-item__label {
  position: relative;
  display: block;
  width: 100%;
  text-transform: lowercase; }
  @media (max-width: 767px) {
    .model-item__label {
      margin-bottom: 10px;
      padding-top: 65px; } }
  @media (min-width: 768px) {
    .model-item__label {
      margin-bottom: 30px;
      padding-top: 80px;
      font-size: 24px;
      line-height: 1; } }

.model-item__input {
  display: none; }

.radio-indicator {
  position: absolute;
  left: 50%;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -25px;
  border: 1px solid var(--color-pearl-bush);
  border-radius: 50%;
  width: 51px;
  height: 51px;
  background-color: var(--color-white);
  transition: background-color 0.2s linear; }

.model-item__input:checked + .radio-indicator {
  background-color: var(--color-white); }

.model-item__input:checked + .radio-indicator::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  border: 1px solid var(--color-sisal);
  border-radius: 50%;
  width: 17px;
  height: 17px;
  background-color: var(--color-white);
  transform: translate(-50%, -50%); }

@media (max-width: 767px) {
  .services__field {
    margin-bottom: 30px; } }

@media (min-width: 768px) {
  .services__field {
    margin-bottom: 30px; } }

@media (max-width: 767px) {
  .services__title {
    margin-bottom: 30px;
    font-size: 20px;
    line-height: 1.35;
    text-align: center; } }

@media (min-width: 768px) {
  .services__title {
    margin-bottom: 64px; } }

.services__checkbox-list {
  display: flex;
  flex-wrap: wrap; }

@media (max-width: 767px) {
  .services__list-item {
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 1.6; } }

@media (min-width: 768px) {
  .services__list-item {
    margin-bottom: 40px;
    width: 319px;
    font-size: 24px;
    line-height: 1; } }

.services__label {
  position: relative;
  display: inline-block;
  padding: 10px 10px 10px 60px; }

.services__input {
  display: none; }

.services__list-item
.checkbox-indicator {
  position: absolute;
  left: 0;
  top: 4px;
  border: 1px solid var(--color-pearl-bush);
  width: 35px;
  height: 35px;
  background-color: var(--color-white);
  transition: all 0.2s linear; }

.services__input:checked + .checkbox-indicator::before {
  content: "";
  position: absolute;
  left: 6px;
  top: 9px;
  width: 24px;
  height: 18px;
  background-image: url("../img/checkbox.svg"); }

.footer {
  position: relative;
  color: var(--color-pampas);
  background-color: var(--color-mine-shaft); }
  @media (max-width: 767px) {
    .footer {
      margin-top: 40px;
      height: auto; }
      .footer::before {
        content: "";
        position: absolute;
        top: -100px;
        display: block;
        width: 100%;
        height: 60px;
        background-image: url("../img/dark-corner.svg");
        background-position: center bottom;
        background-repeat: no-repeat; } }
  @media (min-width: 768px) {
    .footer {
      margin-top: -50px; } }
  @media (min-width: 1200px) {
    .footer {
      margin-top: -45px;
      height: 190px; } }

.footer__container {
  position: relative;
  display: flex; }
  @media (max-width: 767px) {
    .footer__container {
      flex-direction: column;
      align-items: center;
      justify-content: center; } }
  @media (min-width: 768px) {
    .footer__container {
      flex-direction: column;
      padding: 45px 0 50px; } }
  @media (min-width: 1200px) {
    .footer__container {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      padding: 45px 0 0; } }

.contact-info {
  display: flex;
  flex: 1;
  flex-direction: column; }
  @media (max-width: 767px) {
    .contact-info {
      align-items: center;
      justify-content: center; } }

.contact-info__title {
  margin-bottom: 15px;
  font-style: normal;
  color: currentColor; }
  @media (max-width: 767px) {
    .contact-info__title {
      margin-bottom: 5px;
      text-transform: capitalize; } }
  @media (min-width: 768px) {
    .contact-info__title {
      margin-top: 3px;
      text-transform: uppercase; } }
  @media (min-width: 1200px) {
    .contact-info__title {
      margin-top: 0;
      text-transform: uppercase; } }

.contact-info__item {
  font-style: normal;
  color: var(--color-white); }
  @media (max-width: 767px) {
    .contact-info__item {
      padding: 0 30px;
      text-align: center; } }
  @media (min-width: 768px) {
    .contact-info__item {
      padding: 0;
      text-align: left; } }
  @media (min-width: 1200px) {
    .contact-info__item {
      padding: 0;
      text-align: left; } }

.contact-info--phone {
  display: inline-block; }
  @media (max-width: 767px) {
    .contact-info--phone {
      display: flex;
      justify-content: center;
      margin: 15px 0 25px;
      border: 1px solid var(--color-gray);
      padding: 15px 30px;
      width: 100%;
      font-weight: 700;
      transition: border 0.3s ease; }
      .contact-info--phone:hover {
        border: 1px solid var(--color-emperor); }
      .contact-info--phone:active {
        border: 1px solid var(--color-mine-shaft-light);
        color: rgba(255, 255, 255, 0.3);
        background-color: var(--color-mine-shaft-light); } }

.contact-info--phone::before {
  content: "Тел.:";
  display: inline-block; }
  @media (max-width: 767px) {
    .contact-info--phone::before {
      display: none; } }

.social-info {
  display: flex;
  flex: 1;
  flex-direction: column; }
  @media (max-width: 767px) {
    .social-info {
      width: 100%; } }
  @media (min-width: 768px) {
    .social-info {
      order: 1;
      width: auto; } }
  @media (min-width: 1200px) {
    .social-info {
      order: unset;
      width: auto; } }

@media (max-width: 767px) {
  .social-info__title {
    margin: 0;
    font-size: 0; } }

@media (min-width: 768px) {
  .social-info__title {
    margin: 0;
    font-size: 0; } }

@media (min-width: 1200px) {
  .social-info__title {
    margin: 3px 0 15px 15px;
    font-weight: 400;
    font-style: normal;
    font-size: 18px; } }

.social-info__list {
  display: flex; }
  @media (min-width: 768px) {
    .social-info__list {
      justify-content: center;
      margin-top: 50px;
      transform: unset; } }
  @media (min-width: 1200px) {
    .social-info__list {
      justify-content: unset;
      margin-top: 0;
      transform: translate(-3%, -7%); } }

@media (max-width: 767px) {
  .social-info__item {
    flex: 1;
    width: 33%; } }

@media (min-width: 768px) {
  .social-info__item {
    flex: 1;
    height: 100px; } }

@media (min-width: 1200px) {
  .social-info__item {
    flex: unset;
    height: auto; } }

@media (min-width: 768px) {
  .social-info__item:not(:last-child) {
    margin-right: 0; } }

@media (min-width: 1200px) {
  .social-info__item:not(:last-child) {
    margin-right: 4px; } }

.social-info__link {
  display: inline-block;
  border: 1px solid var(--color-gray); }
  @media (max-width: 767px) {
    .social-info__link {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 101px; } }
  @media (min-width: 768px) {
    .social-info__link {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 101px; } }
  @media (min-width: 1200px) {
    .social-info__link {
      display: inline-block;
      width: auto;
      height: auto; } }

.social-info__link:active {
  border-color: var(--color-mine-shaft-light);
  box-shadow: none;
  background-color: var(--color-mine-shaft-light);
  opacity: 0.3; }

.social-info__link:hover,
.social-info__link:focus {
  box-shadow: inset 0 0 0 1px var(--color-emperor); }

.social-info__link--vk::before {
  content: "";
  display: block;
  background-image: url("../img/vk-icon.png");
  background-position: center;
  background-repeat: no-repeat; }
  @media (max-width: 767px) {
    .social-info__link--vk::before {
      width: 70px;
      height: 70px; } }
  @media (min-width: 768px) {
    .social-info__link--vk::before {
      width: 35px;
      height: 30px; } }
  @media (min-width: 1200px) {
    .social-info__link--vk::before {
      padding: 26px;
      width: 24px;
      height: 24px; } }

.social-info__link--facebook::before {
  content: "";
  display: block;
  background-image: url("../img/facebook-icon.png");
  background-position: center;
  background-repeat: no-repeat; }
  @media (max-width: 767px) {
    .social-info__link--facebook::before {
      width: 70px;
      height: 70px; } }
  @media (min-width: 768px) {
    .social-info__link--facebook::before {
      width: 35px;
      height: 30px; } }
  @media (min-width: 1200px) {
    .social-info__link--facebook::before {
      padding: 26px;
      width: 24px;
      height: 24px; } }

.social-info__link--insta::before {
  content: "";
  display: block;
  background-image: url("../img/insta-icon.png");
  background-position: center;
  background-repeat: no-repeat; }
  @media (max-width: 767px) {
    .social-info__link--insta::before {
      width: 70px;
      height: 70px; } }
  @media (min-width: 768px) {
    .social-info__link--insta::before {
      width: 35px;
      height: 30px; } }
  @media (min-width: 1200px) {
    .social-info__link--insta::before {
      padding: 26px;
      width: 24px;
      height: 24px; } }

@media (max-width: 767px) {
  .social-info__link--vk::before {
    background-size: 25px 30px; } }

@media (min-width: 768px) {
  .social-info__link--vk::before {
    background-size: 20px 25px; } }

@media (min-width: 1200px) {
  .social-info__link--vk::before {
    background-size: 16px 18px; } }

@media (max-width: 767px) {
  .social-info__link--facebook::before {
    background-size: 20px 40px; } }

@media (min-width: 768px) {
  .social-info__link--facebook::before {
    background-size: 16px 30px; } }

@media (min-width: 1200px) {
  .social-info__link--facebook::before {
    background-size: 12px 20px; } }

@media (max-width: 767px) {
  .social-info__link--insta::before {
    background-size: 35px 35px; } }

@media (min-width: 768px) {
  .social-info__link--insta::before {
    background-size: 30px 30px; } }

@media (min-width: 1200px) {
  .social-info__link--insta::before {
    background-size: 19px 19px; } }

.copyright-info {
  display: flex;
  flex-direction: column;
  align-items: center; }
  @media (max-width: 767px) {
    .copyright-info {
      padding: 25px 20px 23px;
      width: 100%; } }
  @media (min-width: 768px) {
    .copyright-info {
      position: absolute;
      right: 0;
      padding: 0;
      width: auto; } }
  @media (min-width: 1200px) {
    .copyright-info {
      position: static;
      padding: 0;
      width: auto; } }

.copyright-info__title {
  font-style: normal;
  color: currentColor; }
  @media (max-width: 767px) {
    .copyright-info__title {
      margin-bottom: 5px;
      font-weight: 400; } }
  @media (min-width: 768px) {
    .copyright-info__title {
      margin: 3px 10px 15px 0;
      font-weight: 700; } }
  @media (min-width: 1200px) {
    .copyright-info__title {
      margin: 0 10px 10px 0;
      font-weight: 400; } }

.copyright-info__link {
  display: inline-block;
  border: 1px solid var(--color-gray);
  padding: 15px 20px;
  font-weight: 700;
  font-style: normal;
  color: var(--color-white); }
  @media (max-width: 767px) {
    .copyright-info__link {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      transform: unset; } }
  @media (min-width: 768px) {
    .copyright-info__link {
      width: auto;
      transform: translate(-4%, -10%); } }
  @media (min-width: 1200px) {
    .copyright-info__link {
      width: auto;
      transform: translate(-4%, -10%); } }

.copyright-info__link:active {
  border-color: var(--color-mine-shaft-light);
  box-shadow: none;
  background-color: var(--color-mine-shaft-light);
  opacity: 0.3; }

.copyright-info__link:hover,
.copyright-info__link:focus {
  box-shadow: inset 0 0 0 1px var(--color-emperor); }

@media (max-width: 767px) {
  .blocker {
    padding: 0 !important; } }

.modal-login {
  border-radius: 0 !important;
  padding: 0 !important;
  width: 60%;
  color: var(--color-black);
  background-color: var(--color-spring-wood) !important; }
  .modal-login p {
    text-align: center; }
  @media (max-width: 767px) {
    .modal-login {
      top: 30px; } }
  @media (min-width: 768px) {
    .modal-login {
      max-width: 420px !important; } }

@media (max-width: 767px) {
  .modal-login__container {
    min-width: auto; } }

.modal-login__title {
  margin-top: 30px;
  margin-bottom: 17px;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  color: currentColor; }
  @media (max-width: 767px) {
    .modal-login__title {
      font-size: 30px; } }
  @media (min-width: 1200px) {
    .modal-login__title {
      font-size: 40px; } }

.modal-login__description {
  margin-top: 0;
  margin-bottom: 25px;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  color: currentColor; }

@media (max-width: 767px) {
  .modal-login__form p {
    padding: 0 5px; } }

@media (min-width: 768px) {
  .modal-login__form p {
    padding: 0 15px; } }

@media (min-width: 1200px) {
  .modal-login__form p {
    padding: 0 15px; } }

.modal-login__user-login {
  background: url("../img/user.svg") 95% 50% no-repeat var(--color-white); }

.modal-login__user-password {
  background: url("../img/locked.svg") 95% 50% no-repeat var(--color-white); }

.modal-login__input {
  border: 1px solid var(--color-pearl-bush); }
  @media (max-width: 767px) {
    .modal-login__input {
      padding: 13px 50px 13px 13px;
      width: 100%; } }
  @media (min-width: 768px) {
    .modal-login__input {
      padding: 20px 50px 20px 20px;
      width: 80%; } }
  @media (min-width: 1200px) {
    .modal-login__input {
      padding: 20px 50px 20px 20px;
      width: 75%; } }

.modal-login__input::-moz-placeholder {
  color: currentColor; }

.modal-login__input:-ms-input-placeholder {
  color: currentColor; }

.modal-login__input::placeholder {
  color: currentColor; }

.modal-login__password-settings {
  display: flex;
  align-items: center;
  justify-content: space-evenly; }

.password-settings__item {
  margin: 0 0 33px;
  padding: 0; }

.modal-login__label {
  display: flex;
  align-items: center;
  justify-content: center; }

.modal-login__keep-signed {
  display: none; }

.modal-login__custom-checkbox-indicator {
  display: inline-block;
  margin-right: 7px;
  border: 1px solid var(--color-pearl-bush);
  width: 32px;
  height: 32px;
  background-color: var(--color-white); }
  .modal-login__custom-checkbox-indicator::before {
    content: "";
    display: block;
    width: 32px;
    height: 32px;
    background-color: var(--color-pearl-bush); }

.modal-login__label > .modal-login__keep-signed:checked + .modal-login__custom-checkbox-indicator::before {
  background-image: url("../img/checkbox.svg");
  background-position: center;
  background-size: 22px 16px;
  background-repeat: no-repeat; }

.modal-login__restore-password {
  text-decoration: underline;
  color: currentColor; }

.modal-login__submit {
  font-weight: 700;
  text-transform: uppercase;
  color: var(--color-white);
  background-color: var(--color-roman-coffee); }
  .modal-login__submit:hover, .modal-login__submit:focus {
    border: 1px solid var(--color-sisal); }
  .modal-login__submit:active {
    color: rgba(0, 0, 0, 0.4);
    background: var(--color-sisal); }

.modal-login__close {
  font-weight: 700;
  text-transform: uppercase;
  color: var(--color-black);
  background-color: var(--color-white); }
  .modal-login__close:hover, .modal-login__close:focus {
    border: 1px solid var(--color-sisal); }
  .modal-login__close:active {
    color: rgba(0, 0, 0, 0.4);
    background: var(--color-sisal); }

@media (max-width: 767px) {
  .modal-login__btn-group .modal-login__submit {
    padding: 15px 30px; }
    .modal-login__btn-group .modal-login__submit span {
      display: none; }
  .modal-login__btn-group .modal-login__close {
    display: inline-block;
    padding: 15px 30px; } }

@media (min-width: 768px) {
  .modal-login__btn-group .modal-login__submit {
    padding: 15px 30px; }
  .modal-login__btn-group .modal-login__close {
    display: none; } }

@media (min-width: 1200px) {
  .modal-login__btn-group {
    display: flex;
    align-items: center;
    justify-content: space-evenly; }
    .modal-login__btn-group .modal-login__submit {
      padding: 15px 30px; }
    .modal-login__btn-group .modal-login__close {
      display: none; } }

/*# sourceMappingURL=main-booking.css.map */
