<section class="advantages">
    <h2 class="visually-hidden">
        Наши преимущества
    </h2>
    <div class="advantages__container container">
        <ul class="advantages__list">
            <li class="advantages__item advantages__item--scissors advantages__item--active">
                <h3 class="advantages__title">
                    Быстро
                </h3>
                <p class="advantages__description">
                    Мы делаем свою работу быстро!
                    Два часа пролетят незаметно и Вы — счастливый обладатель стильной стрижки-минутки
                </p>
            </li>
            <li class="advantages__item advantages__item--armchair">
                <h3 class="advantages__title">
                    Круто
                </h3>
                <p class="advantages__description">
                    Забудьте, как вы стриглись раньше.
                    Мы сделаем из вас звезду футбола или кино.
                    Во всяком случае внешне.
                </p>
            </li>
            <li class="advantages__item advantages__item--barbers-pole">
                <h3 class="advantages__title">
                    Дорого
                </h3>
                <p class="advantages__description">
                    Наши мастера — профессионалы своего дела и не могут стоить дёшево.
                    К тому же, разве цена не даёт определённый статус?
                </p>
            </li>
        </ul>
    </div>
</section>