<footer class="footer">
	<div class="footer__container container">
		<address class="contact-info">
			<b class="contact-info__title">
				Барбершоп Бородинский
			</b>
			<a class="contact-info__item contact-info--address" href="https://yandex.ru/maps/-/CCUU4RgM0A">
				г. Санкт-Петербург, ул. Большая
				Конюшенная 19/8
			</a>
			<a class="contact-info__item contact-info--phone" href="tel:+78125556666">
				+7 (812) 555-66-65
			</a>
		</address>
		<div class="social-info">
			<b class="social-info__title">
				Давайте дружить!
			</b>
			<ul class="social-info__list">
				<li class="social-info__item">
					<a class="social-info__link social-info__link--vk" href="#" aria-label="Мы Вконтакте"></a>
				</li>
				<li class="social-info__item">
					<a class="social-info__link social-info__link--facebook" href="#" aria-label="Мы в Фейсбуке"></a>
				</li>
				<li class="social-info__item">
					<a class="social-info__link social-info__link--insta" href="#" aria-label="Мы в Инстаграме"></a>
				</li>
			</ul>
		</div>
		<address class="copyright-info">
			<b class="copyright-info__title">
				Разработано:
			</b>
			<a class="copyright-info__link btn-reset" href="#" aria-label="Перейти на сайт HTML ACADEMY">
				HTML ACADEMY
			</a>
		</address>
	</div>
</footer>
