<fieldset class="haircut__field form__field--haircut">
    <legend class="haircut__title form__legend">
        Выберите модель бороды:
    </legend>
    <ul class="haircut__radio-list">
        <li class="haircut__model-item">
            <label class="model-item__label">
                Адмирал
                <input class="model-item__input" type="radio" name="beard-model" id="admiral" value="admiral" checked>
                <span class="radio-indicator"></span>
            </label>
            <img class="haircut__img" src="../img/beard-1.svg" alt="Тип бороды">
        </li>
        <li class="haircut__model-item">
            <label class="model-item__label">
                Лесоруб
                <input class="model-item__input" type="radio" name="beard-model" id="lesorub" value="lesorub">
                <span class="radio-indicator"></span>
            </label>
            <img class="haircut__img" src="../img/beard-2.svg" alt="Тип бороды">
        </li>
        <li class="haircut__model-item">
            <label class="model-item__label">
                Полярник
                <input class="model-item__input" type="radio" name="beard-model" id="polyarnik" value="polyarnik">
                <span class="radio-indicator"></span>
            </label>
            <img class="haircut__img" src="../img/beard-3.svg" alt="Тип бороды">
        </li>
        <li class="haircut__model-item">
            <label class="model-item__label">
                Боярин
                <input class="model-item__input" type="radio" name="beard-model" id="boyarin" value="boyarin">
                <span class="radio-indicator"></span>
            </label>
            <img class="haircut__img" src="../img/beard-4.svg" alt="Тип бороды">
        </li>
        <li class="haircut__model-item">
            <label class="model-item__label">
                Мудрец
                <input class="model-item__input" type="radio" name="beard-model" id="mudrez" value="mudrez">
                <span class="radio-indicator"></span>
            </label>
            <img class="haircut__img" src="../img/beard-5.svg" alt="Тип бороды">
        </li>
    </ul>
</fieldset>