<fieldset class="services__field form__field--services">
    <legend class="services__title form__legend">
        Дополнительные услуги:
    </legend>
    <ul class="services__checkbox-list">
        <li class="services__list-item">
            <label class="services__label">
                Подкрасить бороду
                <input class="services__input" type="checkbox" name="service" value="service-1" id="service-1" checked>
                <span class="checkbox-indicator"></span>
            </label>
        </li>
        <li class="services__list-item">
            <label class="services__label">
                Причесать бороду
                <input class="services__input" type="checkbox" name="service" value="service-2" id="service-2" checked>
                <span class="checkbox-indicator"></span>
            </label>
        </li>
        <li class="services__list-item">
            <label class="services__label">
                Убрать седину
                <input class="services__input" type="checkbox" name="service" value="service-3" id="service-3">
                <span class="checkbox-indicator"></span>
            </label>
        </li>
        <li class="services__list-item">
            <label class="services__label">
                Накрутить усы
                <input class="services__input" type="checkbox" name="service" value="service-4" id="service-4">
                <span class="checkbox-indicator"></span>
            </label>
        </li>
        <li class="services__list-item">
            <label class="services__label">
                Подровнять виски
                <input class="services__input" type="checkbox" name="service" value="service-5" id="service-5">
                <span class="checkbox-indicator"></span>
            </label>
        </li>
        <li class="services__list-item">
            <label class="services__label">
                Отполировать лысину
                <input class="services__input" type="checkbox" name="service" value="service-6" id="service-6">
                <span class="checkbox-indicator"></span>
            </label>
        </li>
    </ul>
</fieldset>