<fieldset class="full-name__field form__field--full-name">
    <legend class="visually-hidden full-name__title">
        Контактые данные:
    </legend>
    <div class="full-name__row form__row form__row--name">
        <label class="full-name__label" for="name">
            <span class="visually-hidden">Имя</span>
            <input class="full-name__input form__input--name" type="text" name="name" id="name" placeholder="Имя"
                   required>
        </label>
        <label class="full-name__label" for="surname">
            <span class="visually-hidden">Фамилия</span>
            <input class="full-name__input form__input--name" type="text" name="surname" id="surname"
                   placeholder="Фамилия"
                   required>
        </label>
        <label class="full-name__label" for="patronymic">
            <span class="visually-hidden">Отчество</span>
            <input class="full-name__input form__input--name" type="text" name="patronymic" id="patronymic"
                   placeholder="Отчество">
        </label>
    </div>
    <div class="full-name__row form__row form__row--contact">
        <label class="full-name__label full-name__label--tel" for="tel">
            <span class="visually-hidden">Контактный телефон</span>
            <input class="full-name__input form__input--contact" type="tel" name="tel" id="tel"
                   placeholder="Контактный телефон" required>
        </label>
        <label class="full-name__label full-name__label--email" for="email">
            <span class="visually-hidden">Контактный e-mail</span>
            <input class="full-name__input form__input--contact" type="email" name="email" id="email"
                   placeholder="Контактный e-mail" required>
        </label>
    </div>
    <div class="full-name__row form__row form__row--message">
        <textarea class="full-name__input form__input--message" name="comment" id="comment"
                  placeholder="Доп. информация для мастера"></textarea>
    </div>
</fieldset>