<section class="modal-login modal" id="modal-login">
    <div class="modal-login__container container">
        <h2 class="modal-login__title">
            Личный кабинет
        </h2>
        <p class="modal-login__description">
            Введите свой логин и пароль, чтобы войти
        </p>
        <form class="modal-login__form" action="https://echo.htmlacademy.ru" method="post">
            <p>
                <label class="modal-login__label visually-hidden" for="user-login"></label>
                <input class="modal-login__user-login modal-login__input"
                       id="user-login"
                       name="user-login"
                       type="text"
                       placeholder="Логин"
                       required
                >
            </p>
            <p>
                <label class="modal-login__label visually-hidden" for="user-password"></label>
                <input class="modal-login__user-password modal-login__input"
                       id="user-password"
                       name="user-password"
                       type="password"
                       placeholder="Пароль"
                       required
                >
            </p>
            <div class="modal-login__password-settings">
                <p class="modal-login__remember-password password-settings__item">
                    <label class="modal-login__label" for="keep-signed">
                        <input class="modal-login__keep-signed" type="checkbox" id="keep-signed" name="keep-signed">
                        <span class="modal-login__custom-checkbox-indicator"></span>
                        <span class="modal-login__custom-checkbox">
                            Запомнить пароль
                        </span>
                    </label>
                </p>
                <p class="modal-login__lost-password password-settings__item">
                    <a class="modal-login__restore-password" href="#" aria-label="Я забыл пароль!">
                        Я забыл пароль!
                    </a>
                </p>
            </div>
            <p class="modal-login__btn-group">
                <button class="modal-login__submit btn-reset" type="submit">
                    Войти
                    <span>в личный кабинет</span>
                </button>
                <a class="modal-login__close" href="#" rel="modal:close">Закрыть</a>
            </p>
        </form>
    </div>
</section>