<section class="news">
    <div class="news__container container">
        <h2 class="news__title section__title">
            Новости и акции
        </h2>
        <ul class="news__list">
            <li class="news__content">
                <a class="news__item" href="#">
                    <time class="news__date" datetime="2020-09-29">
                        <b class="news__day">
                            29
                        </b>
                        сент
                    </time>
                    <p class="news__text">
                        Нам наконец завезли Ягермайстер!
                        Теперь вы можете пропустить стаканчик во время стрижки.
                    </p>
                </a>
            </li>
            <li class="news__content">
                <a class="news__item" href="#">
                    <time class="news__date" datetime="2020-09-29">
                        <b class="news__day">
                            19
                        </b>
                        сент
                    </time>
                    <p class="news__text">
                        В нашей команде пополнение,
                        Борис «Бритва» Стригунец пополнил наши стройные ряды.
                        Спешите записаться!
                    </p>
                </a>
            </li>
            <li class="news__content">
                <a class="news__item" href="#">
                    <time class="news__date" datetime="2020-09-29">
                        <b class="news__day">
                            9
                        </b>
                        сент
                    </time>
                    <p class="news__text">
                        Все дорожает, а наши стрижки нет!
                        Как так?
                        Приходите, постригитесь и узнаете, в чем здесь подвох!
                    </p>
                </a>
            </li>
        </ul>
        <a class="news__to-all-btn section__btn btn-reset" href="#" aria-label="Показать больше новостей">
            Показать все
        </a>
    </div>
    <hr class="divider">
</section>