<section class="our-works">
    <div class="our-works__container container">
        <h2 class="our-works__title">
            Наши работы
        </h2>
        <a class="our-works__return-btn btn-reset section__btn" href="index.html">
            На главную
        </a>
        <ul class="our-works__list">
            <li class="our-works__item">
                <blockquote class="our-works__feedback">
                    <div class="our-works__img-outer">
                        <picture>
                            <source media="(min-width: 1200px)" srcset="img/photo-1-desktop.jpg">
                            <source media="(min-width: 768px)" srcset="img/photo-1-tablet.jpg">
                            <img class="works-photo__img" src="img/photo-1-mobile.jpg" alt="Пример стрижки">
                        </picture>
                        <em class="our-works__banner">
                            Работа месяца
                        </em>
                    </div>
                    <div class="our-works__feedback-author feedback-author">
                        <cite class="feedback-author__name">
                            Лжепётр Мчиславский
                        </cite>
                        <p class="feedback-author__text">
                            Где я только не стригся, но так как делаете это вы — не умеет никто другой!
                            Еще раз спасибо и до скорого!
                        </p>
                        <ul class="our-works__options-list">
                            <li class="our-works__options-list-item our-works__options-list-item--haircut">
                                Стрижка
                            </li>
                            <li class="our-works__options-list-item our-works__options-list-item--beard">
                                Бритьё
                            </li>
                            <li class="our-works__options-list-item our-works__options-list-item--mustache">
                                Усы
                            </li>
                        </ul>
                    </div>
                </blockquote>
            </li>
            <li class="our-works__item">
                <blockquote class="our-works__feedback">
                    <div class="our-works__img-outer">
                        <picture>
                            <source media="(min-width: 1200px)" srcset="img/photo-2-desktop.jpg">
                            <source media="(min-width: 768px)" srcset="img/photo-2-tablet.jpg">
                            <img class="works-photo__img" src="img/photo-2-mobile.jpg" alt="Пример стрижки">
                        </picture>
                    </div>
                    <div class="our-works__feedback-author feedback-author">
                        <cite class="feedback-author__name">
                            Саша Мальцев
                        </cite>
                        <p class="feedback-author__text">
                            Попросил омолодить и омолодили! Кто теперь скажет, что мне 45?
                        </p>
                        <ul class="our-works__options-list">
                            <li class="our-works__options-list-item our-works__options-list-item--haircut">
                                Стрижка
                            </li>
                        </ul>
                    </div>
                </blockquote>
            </li>
            <li class="our-works__item">
                <blockquote class="our-works__feedback">
                    <div class="our-works__img-outer">
                        <picture>
                            <source media="(min-width: 1200px)" srcset="img/photo-3-desktop.jpg">
                            <source media="(min-width: 768px)" srcset="img/photo-3-tablet.jpg">
                            <img class="works-photo__img" src="img/photo-3-mobile.jpg" alt="Пример стрижки">
                        </picture>
                    </div>
                    <div class="our-works__feedback-author feedback-author">
                        <cite class="feedback-author__name">
                            Владимир Иванович
                        </cite>
                        <p class="feedback-author__text">
                            К зимнему сезону - готов!
                        </p>
                        <ul class="our-works__options-list">
                            <li class="our-works__options-list-item our-works__options-list-item--beard">
                                Борода
                            </li>
                            <li class="our-works__options-list-item our-works__options-list-item--mustache">
                                Усы
                            </li>
                        </ul>
                    </div>
                </blockquote>
            </li>
            <li class="our-works__item">
                <blockquote class="our-works__feedback">
                    <div class="our-works__img-outer">
                        <picture>
                            <source media="(min-width: 1200px)" srcset="img/photo-4-desktop.jpg">
                            <source media="(min-width: 768px)" srcset="img/photo-4-tablet.jpg">
                            <img class="our-works__feedback-photo" src="img/photo-4-mobile.jpg" alt="Пример стрижки">
                        </picture>
                    </div>
                    <div class="our-works__feedback-author feedback-author">
                        <cite class="feedback-author__name">
                            Винстон Синий
                        </cite>
                        <p class="feedback-author__text">
                            Как только зарастаю и волосы начинают мешать видеть – бегом в Бородинский!
                        </p>
                        <ul class="our-works__options-list">
                            <li class="our-works__options-list-item our-works__options-list-item--haircut">
                                Стрижка
                            </li>
                        </ul>
                    </div>
                </blockquote>
            </li>
        </ul>
    </div>
</section>