<nav class="navbar navbar--closed">
    <button class="navbar__toggle btn-reset">
        <span class="visually-hidden">Открыть меню страницы</span>
    </button>
    <div class="navbar__wrapper">
        <ul class="navbar__list">
            <li class="navbar__item" data-nav-index>
                <a class="navbar__link" href="index.html">
                    Главная
                </a>
            </li>
            <li class="navbar__item" data-nav-portfolio>
                <a class="navbar__link" href="portfolio.html">
                    Наши работы
                </a>
            </li>
            <li class="navbar__item" data-nav-booking>
                <a class="navbar__link" href="booking.html">
                    Записаться
                </a>
            </li>
            <li class="navbar__item">
                <a class="navbar__link" href="#footer">
                    Контакты
                </a>
            </li>
            <li class="navbar__item">
                <a class="navbar__link" href="index.html">
                    Инфо
                </a>
            </li>
        </ul>
        <ul class="login">
            <li class="login__item">
                <a class="login__link" href="#modal-login" aria-label="Вход в личный кабинет" rel="modal:open">
                    <svg class="login__icon" width="16" height="16" xmlns="http://www.w3.org/2000/svg"
                         viewBox="0 0 16 16">
                        <polygon points="0 7 7.01 7 7.01 4.06 10.96 8.01 7.01 11.91 7.01 9.06 0 9.02 0 7"></polygon>
                        <polygon
                                points="7.01 0 7.01 2 14.03 2 14.03 13.99 7.01 13.99 7.01 16 16 16 16 0 7.01 0"></polygon>
                    </svg>
                    <span>Вход</span>
                </a>
            </li>
        </ul>
    </div>
</nav>