<section class="person-data">
    <div class="person-data__container container">
        <h2 class="person-data__title section__title">
            Запись на стрижку
        </h2>
        <a class="person-data__return-btn btn-reset section__btn" href="index.html">
            На главную
        </a>
        <form class="person-data__form" method="post" action="https://echo.htmlacademy.ru">
            @include('form-personal-info.html')
            @include('form-haircut-info.html')
            @include('form-services-info.html')
            <input class="person-data__apply btn-reset" type="submit" value="Отправить заявку">
        </form>
    </div>
</section>