<section class="price-list">
    <div class="price-list__container container">
        <h2 class="price-list__heading section__title">
            Прейскурант
        </h2>
        <div class="price-list__columns">
            <table class="price-list__content">
                <tbody class="service">
                <tr class="price-list__item">
                    <td class="service__item service__item--number">
                        1
                    </td>
                    <td class="service__item service__item--name">
                        Классическая стрижка
                    </td>
                    <td class="service__item service__item--wash">
                        <span class="service__item--details">
                            (</span>С мытьём головы<span class="service__item--details">)
                    </span>
                    </td>
                    <td class="service__item service__item--price">
                        1 500 руб.
                    </td>
                </tr>
                <tr class="price-list__item">
                    <td class="service__item service__item--number">
                        2
                    </td>
                    <td class="service__item service__item--name">
                        Современный вариант
                    </td>
                    <td class="service__item service__item--wash">
                        <span class="service__item--details">
                            (</span>С мытьём головы<span class="service__item--details">)
                    </span>
                    </td>
                    <td class="service__item service__item--price">
                        1 500 руб.
                    </td>
                </tr>
                <tr class="price-list__item">
                    <td class="service__item service__item--number">
                        3
                    </td>
                    <td class="service__item service__item--name">
                        Индивидуальный подход
                    </td>
                    <td class="service__item service__item--wash">
                        <span class="service__item--details">
                            (</span>С мытьём головы<span class="service__item--details">)
                    </span>
                    </td>
                    <td class="service__item service__item--price">
                        2 000 руб.
                    </td>
                </tr>
                <tr class="price-list__item">
                    <td class="service__item service__item--number">4</td>
                    <td class="service__item service__item--name">
                        Бритьё бороды
                    </td>
                    <td class="service__item service__item--wash">
                        <span class="service__item--details">
                            (</span>Без мытья<span class="service__item--details">)
                    </span>
                    </td>
                    <td class="service__item service__item--price">
                        500 руб.
                    </td>
                </tr>
                <tr class="price-list__item">
                    <td class="service__item service__item--number">
                        5
                    </td>
                    <td class="service__item service__item--name">
                        Бритьё головы
                    </td>
                    <td class="service__item service__item--wash">
                        <span class="service__item--details">
                            (</span>С мытьём головы<span class="service__item--details">)
                    </span>
                    </td>
                    <td class="service__item service__item--price">
                        1 000 руб.
                    </td>
                </tr>
                </tbody>
            </table>
            <p class="price-list__discount">
                С 10:00 до 14:00 скидка 20%
            </p>
        </div>
    </div>
</section>