<section class="reviews">
    <div class="reviews__container container">
        <h2 class="reviews__title section__title">
            Отзывы о нас
        </h2>
        <div class="reviews__list">
            <div class="reviews__item">
                <blockquote class="reviews__content">
                    <div class="reviews__author-avatar">
                        <picture>
                            <source media="(min-width:1200px)"
                                    srcset="../img/travis_desktop.jpg 1x,img/travis_desktop2x.jpg 2x">
                            <source media="(min-width:768px)" srcset="../img/travis124x82.jpg 1x,img/travist2x.jpg 2x">
                            <img class="reviews__author-image" src="../img/travis77x51.jpg"
                                 srcset="img/travism2x.jpg 2x" alt="На фото Трэвис Баркер">
                        </picture>
                    </div>
                    <div class="reviews__text-wrapper">
                        <cite class="reviews__author-name">
                            Трэвис Баркер
                        </cite>
                        <p class="reviews__text">
                            Спасибо за лысину!
                            Был проездом в Москве, заскочил побриться,
                            чтобы было видно новую татуировку!
                        </p>
                    </div>
                </blockquote>
            </div>
            <div class="reviews__item">
                <blockquote class="reviews__content">
                    <div class="reviews__author-avatar">
                        <picture>
                            <source media="(min-width:1200px)" srcset="../img/boroda_desktop.jpg">
                            <source media="(min-width:768px)"
                                    srcset="../img/boroda_124x82test.jpg 1x,img/boroda_tx2.jpg 2x">
                            <img class="reviews__author-image" src="../img/boroda_77x51.jpg"
                                 srcset="img/boroda_mx2.jpg 2x" alt="На фото Иван Бородайло">
                        </picture>
                    </div>
                    <div class="reviews__text-wrapper">
                        <cite class="reviews__author-name">
                            Иван Бородайло
                        </cite>
                        <p class="reviews__text">
                            В Бородинском ваша борода в надежных руках!
                        </p>
                    </div>
                </blockquote>
            </div>
            <div class="reviews__item">
                <blockquote class="reviews__content">
                    <div class="reviews__author-avatar">
                        <picture>
                            <source media="(min-width:1200px)" srcset="img/john_desktop.jpg 1x">
                            <source media="(min-width:768px)" srcset="img/john124x82.jpg 1x,img/john_t2x.jpg 2x">
                            <img class="reviews__author-image" src="img/john77x51.jpg" srcset="img/john_m2x.jpg 2x"
                                 alt="На фото Джон Смит">
                        </picture>
                    </div>
                    <div class="reviews__text-wrapper">
                        <cite class="reviews__author-name">
                            Джон Смит
                        </cite>
                        <p class="reviews__text">
                            Отличную стрижку мне сделали ребята.
                        </p>
                    </div>
                </blockquote>
            </div>
        </div>
        <a class="reviews__leave-feedback-btn section__btn btn-reset" href="#" aria-label="Показать больше новостей">
            Оставить свой
        </a>
    </div>
</section>