<section class="stats">
    <div class="stats__container container">
        <header class="stats__header">
            <h2 class="visually-hidden">
                Статистика Барбершопа "Бородинский"
            </h2>
            <p class="stats__title">
                Стрижка у нас <br>
                это выгодно!
            </p>
            <p class="stats__promo">
                Мужская стрижка требует точного подхода.
                Обратимся к статистике:
            </p>
            <span class="stats__promo--gray-top">
                <sup>*</sup>
                 - приведенные данные правда
            </span>
        </header>
        <ul class="stats__list">
            <li class="stats__item stats__item--tundora">
                <p class="stats__figure">1 500<sup class="stats__figure--star">*</sup></p>
                <p class="stats__info">Рублей вложений</p>
            </li>
            <li class="stats__item stats__item--gray-deep">
                <p class="stats__figure">7 200</p>
                <p class="stats__info">Секунд времени мастера</p>
            </li>
            <li class="stats__item stats__item--dark-gray">
                <p class="stats__figure">90 000</p>
                <p class="stats__info">Постриженных волос</p>
            </li>
            <li class="stats__item stats__item--tundora">
                <p class="stats__figure">500 000<sup class="stats__figure--star">*</sup></p>
                <p class="stats__info">Лайков и комплиментов</p>
            </li>
        </ul>
        <span class="stats__promo--gray-bottom">
            <sup>*</sup>
             - приведенные данные правда
        </span>
    </div>
</section>