html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  min-width: 320px;
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: var(--color-pampas);
  background-color: var(--color-mine-shaft);
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.is-outer {
  position: relative !important; // stylelint-disable-line declaration-no-important
  left: -9999px !important; // stylelint-disable-line declaration-no-important
}

.site-container {
  position: relative;
  overflow: hidden;
}

.is-hidden {
  display: none !important; // stylelint-disable-line declaration-no-important
}

.visually-hidden:not(:focus):not(:active) {
  @include visually-hidden();
}

.for-mobile {
  display: none;

  @include mobile {
    display: block;
  }
}

.error {
  border: 2px #ff4019 solid !important; // stylelint-disable-line declaration-no-important
}

.btn-reset {
  border: none;
  background: transparent;
  cursor: pointer;
}

.section__title {
  text-transform: uppercase;

  @include mobile {
    font-size: 30px;
    line-height: 30px;
    text-align: center;
  }

  @include tablet-width {
    font-size: 40px;
    text-align: unset;
  }

  @include desktop {
    font-size: 40px;
    text-align: unset;
  }
}

.section__btn {
  display: inline-block;
  border: 1px solid var(--color-pearl-bush);
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-black);

  &:hover,
  &:focus {
    border: 1px solid #d5c9bd;
  }

  &:active {
    color: rgba(0, 0, 0, 0.4);
    background: #d5c9bd;
  }
}

.container {
  @include mobile {
    margin: 0 auto;
    padding: 0;
    min-width: 320px;
    max-width: 766px;
  }

  @include tablet-width {
    margin: 0 auto;
    padding: 0;
    max-width: 640px;
  }

  @include desktop {
    margin: 0 auto;
    padding: 0;
    max-width: 960px;
  }
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}
