// COLORS
:root {
  --color-white: #fff;
  --color-pampas: #f7f4f1;
  --color-spring-wood: #f8f5f2;
  --color-pearl-bush: #e5ddd5;
  --color-sisal: #d5c9bd;
  --color-domino: #886e5b;
  --color-roman-coffee: #826550;
  --color-tobacco-brown: #755a46;
  --color-shingle-fawn: #6a4d38;
  --color-silver: #cacaca;
  --color-scorpion: #5e5e5e;
  --color-emperor: #545454;
  --color-gray-deep: #4e4e4e;
  --color-tundora: #404040;
  --color-gray: #3f3f3f;
  --color-dark-gray: #353535;
  --color-mine-shaft: #292929;
  --color-mine-shaft-light: #252525;
  --color-black: #000;
}
