// COLORS
:root {
  --color-black: #000;
  --color-white: #fff;
  --color-pampas: #f7f4f1;
  --color-spring-wood: #f8f5f2;
  --color-gray-deep: #4e4e4e;
  --color-tundora: #404040;
  --color-dark-gray: #353535;
  --color-roman-coffee: #826550;
  --color-shingle-fawn: #6a4d38;
}
